:root {
  --primary-color: #d70f64;
  --gray: rgba(128, 128, 128, 0.208);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}

/*1rem==16px, relative unit (also like responsive unit), useful becuz easierto manage*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.4rem;
}

nav > .logo {
  padding: 1rem 0;
  color: var(--primary-color);
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
}

nav > .logo > svg {
  margin-right: 0.3rem;
  display: none;
}

nav > svg {
  cursor: pointer;
}

nav.active {
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.12);
}

nav .login-btn {
  display: none;
  justify-content: center;
  align-items: center;
  height: 100%;
  border: none;
  background-color: transparent;
  padding: 1.4rem;
  margin-right: 1rem;
  cursor: pointer;
  border-right: 1px solid var(--gray);
  border-left: 1px solid var(--gray);
}

.max-w-xl {
  max-width: 1300px;
  margin: auto;
  position: relative;
}

.login-btn span {
  margin-left: 0.5rem;
  font-weight: 600;
}

/*Hero Section*/
section.hero {
  padding: 0 1rem;
  height: 500px;
  border: 1px solid transparent;
  position: relative;
}

.hero .bg-wrapper {
  position: absolute;
  width: 33%;
  margin-left: 67%;
  background: url("./image/hero-bg-xl.png");
  background-size: cover;
  height: 100%;
  /*z-index priorities css*/
  z-index: -1;
  float: right;
  max-height: 335px;
}

.hero h3 {
  font-size: 2rem;
  font-weight: 300;
  margin-top: 9rem;
  min-width: 200px;
  width: 70%;
}
.hero .actions {
  margin-top: 4rem;
}

.actions .input-container {
  position: relative;
}

.actions input {
  width: 100%;
  padding: 1.5rem 1rem;
  border-radius: 10px;
  outline: none;
  border: 1px solid #dcdcdc;
  color: #333;
  font-size: 0.9rem;
  box-shadow: 0 0.3rem 2rem rgb(0 0 0/10%);
}

.actions input::placeholder {
  color: darkgray;
}

.input-container svg {
  position: absolute;
  top: 20px;
  right: 20px;
}

.actions button {
  background-color: var(--primary-color);
  color: white;
  margin-top: 1rem;
  width: 100%;
  border: none;
  height: 64px;
  border-radius: 8px;
  font-size: 0.9rem;
  font-weight: 300;
  cursor: pointer;
}

/* Parterner sec */
.partners {
  margin: 4rem 0;
  position: relative;
}

.partners .backdrop-text {
  padding: 0 2rem;
  font-size: 4.5rem;
  color: rgba(188, 186, 186, 0.12);
  font-weight: 900;
  position: absolute;
  top: -40px;
  left: -10px;
  z-index: -2;
}

.partners .caption {
  padding: 0 2rem;
  font-size: 1.2rem;
  margin-bottom: 0.3rem;
}

.partners .background-image {
  background: url("./image/partner-bg.png");
  min-height: 280px;
  background-size: cover;
  background-position: center;
  height: 100%;
}

.partners .content {
  box-shadow: 0 2px 28px 0 rgb(0 0 0/12%);
  background-color: white;
  margin: 0 1rem;
  padding: 1rem;
  margin-top: -4rem;
}

.content p {
  font-size: 0.9rem;
  color: rgb(176, 174, 174);
}

.content .header-text {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  color: rgb(18, 17, 17);
}
.content button {
  background-color: var(--primary-color);
  color: white;
  margin-top: 1rem;
  width: 100%;
  border: none;
  padding: 0 5rem;
  height: 50px;
  border-radius: 8px;
  font-size: 0.8rem;
  font-weight: 300;
  cursor: pointer;
}

/* End Partners  */

/* cities */
.cities{
  margin-top:8rem;
}

.cities .container{
  display: flex;
  justify-content: start;
  align-items: center;

  /* this means when u make it small it wont go out of its place */
  flex-wrap: nowrap;
  padding: 1rem;

  /* scroll bar in x dirction */
  overflow-x: scroll;

}

.container .card{
  height: 272px;
  min-width: 230px;
  max-width: 230px;
  position: relative;

  /* so zoom effect wont come out of the card when  scaling the img */
  overflow: hidden;

  cursor: pointer;
  margin-right: 1rem;
  margin-top: 1rem;

}

.card img{
  width:100%;
  height: 100%;
  transform: scale(1.1);
}

.card p{
  position: absolute;
  bottom:10px;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  left:30px;
}

.card img:hover{
  transform:scale(1.2);
  transition: all 0.3s ease;
}
/* end cities */


/* App */

.app{

  margin-top:10rem;
}

.app .caption{
  display: none;
}

.app .backdrop-text{
  z-index: 1;
}

.app .container{
  background: #e21b70;
  min-height: 485px;
  z-index: -1;
}

.container .max-w-xl{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 1rem;
  text-align: left;
}

.container .image-container{
  position: relative;
  max-width: 424px;
  min-height: 250px;
  width: 100%;
  text-align: center;

}

.image-container img{
  position: absolute;
  width: 100%;
  max-width: 424px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
  top:-80px;
}


.content-container .sub-heading{

  width: 100%;
  font-size: 1.2rem;
  margin-top: 1rem;
  
}

.content-container .text{
  font-size: 0.9rem;
  margin: 1rem 0;

}

.content-container .buttons-container{
  display: flex;
  justify-content: center;


}

.buttons-container .center-svg{

  margin: 0 1rem;
}


/* End app */

/* Media Queries */
@media screen and (min-width: 768px) {
  nav > .logo > svg {
    display: inline;
  }

  section.hero {
    padding: 0 2rem;
  }

  .hero .bg-wrapper {
    max-height: 900px;
  }

  .hero .actions {
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    padding: 1rem;
    max-width: 960px;
  }

  .actions .input-container {
    width: 80%;
  }

  .actions button {
    width: 15%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
  }

  .actions input {
    box-shadow: none;
  }

  .partners .backdrop-text {
    padding: 0 3rem;
  }

  .partners .caption {
    padding: 0 3rem;
  }

  .partners .background-image {
    min-height: 404px;
  }

  .partners .content {
    margin: 0 3rem;
    margin-top: -20rem;
    max-width: 350px;
    padding: 2rem;
  }

  .content p {
    font-size: 1rem;
  }

  .content .header-text {
    font-size: 1.5rem;
  }

  .content .button {
    font-size: 1rem;
  }

  /* app */
  .app .container{
    min-height: 314px;
  }

  .app .caption{

    display: block;

  }

  .container .max-w-xl{
    flex-direction: row-reverse;

  }
  
  .container .content-container{
    width: 55%;
    text-align: left;
    
    /* to make text aligin to left */
    margin-right: auto;

    justify-content: flex-start;
    align-items: flex-start;

  }

  .container .image-container{
    width: 45%;

    text-align: right;
    max-height: 480px;
  }

  .image-container img{
    min-width: 500px !important;

  }

  .content-container .sub-heading{
    font-size: 1.8rem;
  }
  
  .content-container .buttons-container{
    margin-top: 1rem;

  }
  
  /* end app */
}

@media screen and (min-width: 960px) {
  nav > .profile-icon-medium {
    display: none;
  }

  nav .login-btn {
    display: inline-flex;
  }

  .hero .bg-wrapper {
    max-height: 400px;
  }

  /* Partner */
  .partners .content {
    max-width: 450px;
  }

  /* end partner */

  /* cities */

  .cities .container{
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: space-evenly;
  }

  /* end cities */

  /* app */
  .app .container{
    padding: 0 2rem;
  }

  .image-container img{
    min-width: 600px !important;
    
  }


  .content-container .buttons-container{
    margin-top: 2rem;
    
  }
  /* end app */
}

@media screen and (min-width: 1264px) {
  .hero .bg-wrapper {
    max-height: 500px;
  }

  .hero h3 {
    font-size: 2.8rem;
  }

  /* partners section */
  .partners .content{
    max-width: 600px;
    text-align: right;
  }

  .content button{
    max-width: 240px;
    margin-top: 2rem;
   
  }

  .content p{
    text-align: left;
  }

  .partners .backdrop-text{
    font-size: 10rem;
    top: -130px;
    left:-40px;
  }

  .partners .caption{
    font-size:1.5rem;
  }


  /* end partenr */
}

@media screen and (min-width: 1440px) {
  .hero .bg-wrapper {
    max-height: 550px;
  }

  /* partners */

  /* end partners */
}
